{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/homepage.css' %}">
{% endblock styles %}

{% block content %}
<main class="wrapper">
    <article class="users-wrapper">
        <h1 class="heading">Users with the most RP</h1>
        <section class="users-container">
            {% if not top_users %}
            <section class="user">
                {% load static %}
                <img src="{% static 'images/default-avatar.webp' %}" alt="User default avatar" class="user__img">
                <h2 class="user__name">Unknown</h2>
                <p class="user__link">We currently have no top users</p>
                <div class="user__rp">0RP</div>
            </section>
            {% endif %}
            {% for user in top_users %}
            <section class="user">
                {% load static %}
                <img src="{% static 'images/default-avatar.webp' %}" alt="User default avatar" class="user__img">
                <h2 class="user__name">{{ user.username }}</h2>
                <a class="user__link"
                    href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/send/u/{{user.username}}"
                    target="_blank">Click to send me a message</a>
                <div class="user__rp">{{ user.ray_points }}RP</div>
            </section>
            {% endfor %}
        </section>
        {% if user.is_authenticated %}
        <h2 class="heading"><a href="{% url 'dashboard' %}" class="link">Get Anon Messages now -> </a></h2>
        {% else %}
        <h2 class="heading"><a href="{% url 'register' %}" class="link">Get Anon Messages now -> </a></h2>
        {% endif %}
    </article>
</main>
<footer class="footer">
    <h3>Made by Jiseeeh</h3>
    {% load static %}
    <a class="footer__img" href="https://github.com/Jiseeeh/cvsu-anon" target="_blank"></a>
</footer>
{% endblock content %}