{% extends 'base.html' %}

{% block title %} Login {% endblock title %}

{% block content %}

<main class="sections-wrapper">
    <section class="left-section">
        <h1>Login</h1>
        {% if error %}
        <div class="form-error">
            <ul>
                <li>{{ error }}</li>
            </ul>
        </div>
        {% endif %}
        <form action="" method="post" class="form">
            {% csrf_token %}
            <label for="username">Username</label>
            <input type="text" name="username" id="username" required class="form-input">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required class="form-input">
            <span>Already have an account? <span><a href="{% url 'register' %}" class="link">Sign Up</a></span></span>
            <input type="submit" value="Login" class="btn">
        </form>
    </section>
    <section class="right-section">
        {% include 'rules.html' %}
</main>

{% endblock content %}