{% extends 'base.html' %}

{% block title %} Register {% endblock title %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock styles %}

{% block content %}

<main class="sections-wrapper">
    <section class="left-section">
        <h1>Register</h1>
        {% if form.errors %}
        <div class="form-error">
            You have errors in your form.
            {% for field in form %}
                {% if field.errors %}
                    {{ field.errors }}
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        <form action="" method="post" class="form">
            {% csrf_token %}
            {% for field in form %}
            <div class="field-group-col">
                {{ field.label_tag }} {{ field }}
                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
            {% endfor %}
            <span>Already have an account? <span><a href="{% url 'login' %}" class="link">Login</a></span></span>
            <input type="submit" value="Register" class="btn">
        </form>
    </section>
    <section class="right-section">
        {% include 'rules.html' %}
    </section>
</main>

{% endblock content %}