<h1>Rules and Guidelines</h1>
<p style="text-align: justify;"><strong>Respect and Tolerance:</strong> Treat all users with respect and kindness. Do
    not engage in bullying,
    harassment, or any form of hate speech. Discriminatory behavior is not tolerated.

    <br>

    <strong>Anonymity:</strong> Embrace the spirit of anonymity. Do not attempt to reveal anyone's identity or
    request personal
    information. This includes not sharing your own personal information.

    <br>

    <strong>Positive and Constructive Messages:</strong> Share messages that contribute to a positive and
    constructive
    atmosphere. Encourage open communication and healthy discussions.

    <br>

    <strong>No Inappropriate Content:</strong> Do not post or share content that is sexually explicit,
    offensive, violent, or in
    any way inappropriate. This includes text, images, or links.

    <br>

    <strong>No Spam:</strong> Avoid spamming the platform with repetitive or irrelevant messages. This disrupts
    the user
    experience and is not allowed.

    <br>

    <strong>Responsible Use:</strong> Use the point system and gamification features responsibly. Do not engage
    in any unethical
    or harmful practices to gain points.

    <br>

    <strong>Report Abusive Behavior:</strong> If you encounter abusive or inappropriate behavior, report it to
    the platform
    administrators immediately.

    <br>

    <strong>No Impersonation:</strong> Do not impersonate other users or any organization, including the
    university.

    <br>

    <strong>Privacy:</strong> Be cautious about what you share, even in an anonymous environment. Avoid sharing
    sensitive or
    harmful information.

    <br>

    <strong>No Unauthorized Use:</strong> Do not use the platform for any illegal activities, including hacking,
    spreading
    malware, or any other malicious actions.

    <br>

    <strong>Respect the Platform:</strong> Follow any additional rules or guidelines provided by the platform
    administrators and
    adhere to their decisions and sanctions.