{% extends 'base.html' %}

{% block title %}Send{% endblock title %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/send_anon.css' %}">
{% endblock styles %}

{% block content %}
<main class="wrapper">
    {% if error %}
    <section class="notice-section">
        <h1>{{ error }}</h1>
        {% load static %}
        <img src="{% static 'images/error_404.svg' %}" alt="Woman looking at a computer with a 404 text on it.">
    </section>
    {% elif success %}
    <section class="notice-section">
        <h1>{{ success }}</h1>
        {% load static %}
        <img src="{% static 'images/cat-on-kb.png' %}" alt="A cat on a keyboard.">
    </section>
    {% else %}
    <article class="container">
        <section class="rules">
            {% include 'rules.html' %}
        </section>
        <section class="send-form">
            <span>Send your message to <strong>{{ username }}</strong></span>
            <form action="" method="post" class="form">
                {% csrf_token %}
                <textarea name="message" id="message" cols="30" rows="10"></textarea>
                {% if textarea_error %}
                <span class="error">{{ textarea_error }}</span>
                {% endif %}
                <input class="btn" type="submit" value="Send">
            </form>
        </section>
    </article>
    {% endif %}
</main>
{% endblock content %}