body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapper {
  flex-grow: 1;
}

.users-wrapper {
  padding: 1rem;
}

.heading {
  text-align: center;
}

.users-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 2rem 1rem;
  width: 100%;
  max-width: 24rem;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}

.user__link {
  align-self: normal;
  text-align: center;
}

.user__img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.user__rp {
  background-color: var(--primary);
  padding: 0.5rem 5rem;
  border-radius: 8px;
  font-weight: bold;
}

.footer {
  height: 70px;
  width: 100%;
  gap: 1rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__img {
  cursor: pointer;
  height: 30px;
  width: 30px;
  background: url("../images/github.svg") no-repeat center center / contain;
  transition: all 0.3s ease-in-out;
}

.footer__img:hover {
  background: url("../images/github-filled.svg") no-repeat center center /
    contain;
}

@media screen and (min-width: 1024px) {
  .user {
    padding: 4rem 3rem;
  }
}
